<div class="container-fluid">
    <!--<div class="input-group">-->
        <!--<input ng-model="search.term"-->
               <!--type="text"-->
               <!--placeholder="term">-->
        <!--<input ng-model="search.location"-->
               <!--type="text"-->
               <!--placeholder="location">-->
        <!--<span class="input-group-btn">-->
        <!--<a ng-click="model.getBusiness(search)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-4" ng-repeat="business in model.data.businesses">
            <img ng-click="model.selectPhoto(photo)"
                 ng-src="{{business.image_url}}"
                 width="50%"/>
            {{business.name}}
        </div>
    </div>

</div>