<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand pull-left ffa-no-left-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand ffa-no-left-padding" href="#">
                <span><strong>Widget Edit</strong></span>
            </a>
        </div>
        <div class="navbar-brand pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid ffa-add-bottom-padding">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <!--<div ng-include="model.getEditorTemplateUrl(model.widget.widgetType)"></div>-->

    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/templates/editors/widget-HEADING-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/editors/widget-IMAGE-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/templates/editors/widget-HTML-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/editors/widget-YOUTUBE-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/templates/editors/widget-TEXT-editor.view.client.html'"></ng-include>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>
