<nav class="navbar-default navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-brand pull-left ffa-no-left-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand ffa-no-left-padding" href="#">
                <span><strong>Choose Widget</strong></span>
            </a>
        </div>

    </div>
</nav>


<div class="container-fluid ffa-add-bottom-padding">
    <div class="ffa-add-padding">
        <a ng-click="model.createWidget('HEADING')">Header</a>
    </div>
    <div class="ffa-add-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Label</a>
    </div>
    <div class="ffa-add-padding">
        <a ng-click="model.createWidget('HTML')">HTML</a>
    </div>
    <div class="ffa-add-padding">
        <a ng-click="model.createWidget('TEXT')">Text Input</a>
    </div>
    <div class="ffa-add-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Link</a>
    </div>
    <div class="ffa-add-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Button</a>
    </div>
    <div class="ffa-add-padding">
        <a ng-click="model.createWidget('IMAGE')">Image</a>
    </div>
    <div class="ffa-add-padding">
        <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
    </div>
    <div class="ffa-add-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Data Table</a>
    </div>
    <div class="ffa-add-padding">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">Repeater</a>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>

