<!--carousel   -->
<div id="myCarousel" class="carousel slide t-header" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel" data-slide-to="1"></li>
            <li data-target="myCarousel" data-slide-to="2"></li>
            <li data-target="myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href= "#search/indian/location/boston">
                    <img class="img-responsive"
                         src="../../images/slide1.jpg" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Click to find near by Indian Restaurants</h3>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#search/burger/location/boston">
                    <img class="img-responsive"
                         src="../../images/slide2.jpg" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Click to find near by Burger Places</h3>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#search/italian/location/boston">
                    <img class="img-responsive"
                         src="../../images/slide3.jpg"  width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Click to find best Italian Places</h3>
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="#search/pub/location/boston">
                    <img class="img-responsive"
                         src="../../images/slide4.jpg"  width="460" height="345">
                    <div class="carousel-caption">
                        <h3>Click to find nearby Pubs</h3>
                    </div>
                </a>
            </div>
        </div>

         <!--Left and right controls-->
        <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev" target="_self">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next" target="_self">
            <span class="icon-next"></span>
        </a>

    </div>


<!--category-->
<div class="container-fluid t-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Categories</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Bakeries</h3>
                <a aria-haspopup="true" ng-click="model.findAllRestaurantsByCategory('bakeries')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="../images/c1.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Coffee & Tea</h3>
                <a ng-click="model.findAllRestaurantsByCategory('coffee')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/coffee.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Breweries</h3>
                <a ng-click="model.findAllRestaurantsByCategory('breweries')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/pub.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Ice Cream & Yogurt</h3>
                <a ng-click="model.findAllRestaurantsByCategory('icecream')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/ice.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Desserts</h3>
                <a ng-click="model.findAllRestaurantsByCategory('desserts')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/dessert.jpg" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Patisserie & Cake</h3>
                <a ng-click="model.findAllRestaurantsByCategory('cakeshop')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/cake.jpg" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Donuts</h3>
                <a ng-click="model.findAllRestaurantsByCategory('donuts')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/donut.jpg" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <h3 class="text-center">Gelato</h3>
                <a ng-click="model.findAllRestaurantsByCategory('gelato')">
                    <img class="t-category-image img-responsive img-portfolio img-hover"
                         ng-src="./images/gelato.jpg" alt="">
                </a>
            </div>

        </div>

        <hr>


    </div>
</div>
