<div class="row">


    <div class="col-xs-4">


    </div>


    <div class="col-xs-8">

        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title">First name:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.firstName"
                       class="form-control"
                       id="firstName"
                       name="firstName"
                       disabled
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title">Last name:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.lastName"
                       class="form-control"
                       id="lastName"
                       name="lastName"
                       type="text"
                       disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title">Company:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.company"
                       class="form-control"
                       id="company"
                       name="company"
                       type="text"
                       disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title ">Email:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.email"
                       class="form-control"
                       id="email"
                       name="email"
                       type="email"
                       disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title ">Phone:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.phone"
                       class="form-control"
                       id="phone"
                       name="phone"
                       type="text"
                       disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label business-list-title">Username:</label>
            <div class="col-lg-8">
                <input ng-model="model.profileUser.username"
                       class="form-control"
                       id="username"
                       type="text"
                       disabled>
            </div>
        </div>


    </div>

</div>