<div class=" t-font t-bottom-margin t-top-margin">

    <div class="row">

        <div class="col-xs-4">


            <div class="text-center">
                <img ng-if="!model.profileUser.url"
                     ng-src="../../images/blank-img.jpg"
                     class="avatar img-circle img-thumbnail"
                     alt="avatar">

                <img ng-if="model.profileUser.url"
                     ng-src="{{model.profileUser.url}}"
                     class="avatar img-circle img-thumbnail img-responsive"
                     alt="avatar">
                <h4 class="business-list-title">{{model.profileUser.firstName}} {{model.profileUser.lastName}}</h4>

                <button ng-if="model.user && model.showFollow && model.user.username!=model.profileUser.username"
                        ng-click = "model.followUser()"
                        class="btn btn-success">
                    Follow
                </button>


                <button ng-if="model.user && !model.showFollow && model.user.username!=model.profileUser.username"
                        ng-click = "model.unFollowUser()"
                        class="btn btn-danger">
                    Unfollow
                </button>



            </div>



        </div>


        <div class="col-xs-8">

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Username:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.username"
                           class="form-control"
                           id="username"
                           type="text"
                           disabled>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">First name:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.firstName"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           disabled
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Last name:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.lastName"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           type="text"
                           disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title ">Email:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.email"
                           class="form-control"
                           id="email"
                           name="email"
                           type="email"
                           disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title ">#Phone</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.phone"
                           class="form-control"
                           id="phone"
                           name="phone"
                           type="text"
                           disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Role</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.role"
                           class="form-control"
                           id="Role"
                           name="Role"
                           type="text"
                           disabled>
                </div>
            </div>



        </div>


    </div>


    <div class="row t-title t-category t-font t-category-head row">
        Activity
    </div>

    <div class="row">

        <div class="">
            <div ng-repeat="following in model.followingUser">


                <div class="text-center">

                    <img ng-if="!following.url"
                         ng-src="../../images/blank-img.jpg"
                         class="avatar img-circle img-thumbnail img-responsive"
                         alt="avatar">

                    <img ng-if="following.url"
                         ng-src="{{following.url}}"
                         class="avatar img-circle img-thumbnail img-responsive"
                         alt="avatar">
                    <a href="#/user/{{following.username}}" class="business-list-title">{{following.firstName}} {{following.lastName}}</a>

                </div>



            </div>

        </div>


    </div>


    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
        <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
        <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
        <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
    </ul>



    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>


</div>