


<div class="container ffa-add-bottom-padding t-top-margin t-bottom-margin t-register">

    <div class="row">

        <div class="col-xs-4">

                <div class="text-center">
                    <img ng-if="!model.user.url"
                         ng-src="../../images/blank-img.jpg"
                         class="avatar img-circle img-thumbnail"
                         alt="avatar">

                    <img ng-if="model.user.url"
                         id="img-profile"
                         ng-src="{{model.user.url}}"
                         class="avatar img-circle img-thumbnail img-responsive"
                         alt="avatar">
                    <h4 class="business-list-title">{{model.user.firstName}} {{model.user.lastName}}</h4>

                    <div class="form-group">
                        <form action="/api/uploads"  method="post" enctype="multipart/form-data">
                            <input name="myFile" type="file" class="form-control">
                            <input  name="width" value="150" style="display: none"/>
                            <input  name="userId" value="{{model.user._id}}" style="display: none"/>
                            <button type="submit" class="btn btn-primary">Upload New Image</button>
                        </form>
                    </div>
                </div>

                <!--flicker-->
                <input ng-model="model.searchText"
                       type="text"
                       placeholder="Search Photos"
                       class="form-control">
                <a class="btn btn-primary btn-block"
                   ng-click="model.searchPhotos(model.searchText)">
                    Search From Flicker
                </a>
                <br>



                    <div class="row">
                    <div ng-show="model.showPhotos==true" class="col-xs-4" ng-repeat="photo in model.photos.photo">
                        <img ng-click="model.selectPhoto(model.user, photo)"
                             ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"
                             width="100%"/>
                    </div>
                </div>
            <br>
            <br>

        </div>





        <div class="col-xs-8">

            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>


            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username" disabled>
                </div>

                <div class="form-group">
                    <label for="role">Role:</label>

                    <select id="role" name="role" ng-model="model.user.role"  class="form-control" disabled>



                        <option value="USER" ng-selected="model.user.role=='USER'" >User</option>
                        <option value="OWNER" ng-selected="model.user.role=='OWNER'">Owner</option>
                        <option value="CRITIC" ng-selected="model.user.role=='CRITIC'">Critic</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
                </div>

                <div class="form-group">
                    <label for="phone">#Phone</label>
                    <input ng-model="model.user.phone" type="number" class="form-control" id="phone" placeholder="10 digit #Phone">
                </div>
            </form>

        </div>

    </div>



    <div class="row">

        <a ng-click="model.update(model.user)"
           class="btn btn-primary btn-block">
            Update
        </a>

        <a class="btn btn-danger  btn-block"
           ng-click="model.logout()">Logout</a>


        <a ng-if="model.user.role ==='ADMIN'" ng-click="model.deleteUser()"
           class="btn btn-warning btn-block">
            Delete User
        </a>

    </div>

        <br>
</div>



