<div class=" t-font t-bottom-margin t-top-margin">

    <div class="row">

        <div class="col-xs-4">


            <div class="text-center">
                <img ng-if="!model.profileUser.url"
                     ng-src="../../images/blank-img.jpg"
                     class="avatar img-circle img-thumbnail"
                     alt="avatar">

                <img ng-if="model.profileUser.url"
                     ng-src="{{model.profileUser.url}}"
                     class="avatar img-circle img-thumbnail img-responsive"
                     alt="avatar">
                <h4 class="business-list-title">{{model.profileUser.firstName}} {{model.profileUser.lastName}}</h4>

                <button ng-if="model.user && model.showFollow && model.user.username!=model.profileUser.username"
                        ng-click = "model.followUser()"
                        class="btn btn-success">
                    Follow
                </button>


                <button ng-if="model.user && !model.showFollow && model.user.username!=model.profileUser.username"
                        ng-click = "model.unFollowUser()"
                        class="btn btn-danger">
                    Unfollow
                </button>



            </div>



        </div>


        <div class="col-xs-8">

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Username:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.username"
                           class="form-control"
                           id="username"
                           type="text"
                           disabled>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">First name:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.firstName"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           disabled
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Last name:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.lastName"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           type="text"
                           disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title ">Email:</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.email"
                           class="form-control"
                           id="email"
                           name="email"
                           type="email"
                           disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title ">#Phone</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.phone"
                           class="form-control"
                           id="phone"
                           name="phone"
                           type="text"
                           disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label business-list-title">Role</label>
                <div class="col-lg-8">
                    <input ng-model="model.profileUser.role"
                           class="form-control"
                           id="Role"
                           name="Role"
                           type="text"
                           disabled>
                </div>
            </div>



        </div>


    </div>


    <div class="row t-title t-category t-font t-category-head row">
        Activity
    </div>

    <!--<div class="row">-->

        <!--<div>-->
            <!--<div ng-repeat="following in model.followingUser">-->


                <!--<div class="text-center">-->

                    <!--<img ng-if="!following.url"-->
                         <!--ng-src="../../images/blank-img.jpg"-->
                         <!--class="avatar img-circle img-thumbnail img-responsive"-->
                         <!--alt="avatar">-->

                    <!--<img ng-if="following.url"-->
                         <!--ng-src="{{following.url}}"-->
                         <!--class="avatar img-circle img-thumbnail img-responsive"-->
                         <!--alt="avatar">-->
                    <!--<a href="#/user/{{following.username}}" class="business-list-title">{{following.firstName}} {{following.lastName}}</a>-->

                <!--</div>-->



            <!--</div>-->

        <!--</div>-->


    <!--</div>-->







    <div class="row">
        <div class="col-lg-12 col-sm-12">

            <div class="btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-danger" href="#tab1" data-toggle="tab">
                        <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                        <div class="hidden-xs">Liked <span class="badge">{{model.profileUser.businesses.length}}</span></div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hidden-xs">Followers <span class="badge">{{model.followers.length}}</span> </div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <div class="hidden-xs">Following <span class="badge">{{model.followings.length}}</span> </div>
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="tab-content">

                    <!--liked-->
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div ng-repeat="business in model.user.restaurants" class="col-md-4 portfolio-item">
                                <div class="panel panel-default">
                                    <a href="#/business/{{business._id}}">
                                        <div class="thumbnail">
                                            <img class="img-responsive"
                                                 width="400"
                                                 height="400"
                                                 ng-src="{{business.imageUrl}}" alt="">
                                        </div>
                                    </a>
                                    <div class="panel-body fixed-panel-small">
                                        <h5>
                                            <a href="#/business/{{business._id}}"><h4>{{business.name}}</h4></a>
                                        </h5>

                                        <p>
                                            <img class="img-responsive"
                                                 ng-src="{{business.ratingUrl}}" alt="">
                                        </p>
                                        <p><b>Phone:</b> {{business.phone}} <br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--followers-->
                    <div class="tab-pane fade in" id="tab2">
                        <div class="row">
                            <div ng-repeat="follower in model.followers" class="col-md-3 portfolio-item">
                                <div class="text-center">
                                    <img ng-if="follower.url"
                                         ng-src="{{follower.url}}"
                                         id="img-profile-small"
                                         class="avatar img-circle img-thumbnail img-responsive"
                                         alt="avatar">
                                    <img ng-if="!follower.url"
                                         ng-src="img/staff-profile-blank.jpg"
                                         id="img-profile-small"
                                         class="avatar img-circle img-thumbnail img-responsive"
                                         alt="avatar">
                                    <p>
                                    <h4 class="business-list-title"><a href="#/user/{{follower.username}}">{{follower.username}}</a></h4>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--following-->
                    <div class="tab-pane fade in" id="tab3">
                        <div class="row">
                            <div ng-repeat="following in model.followings" class="col-md-3 portfolio-item">
                                <div class="text-center">
                                    <img ng-if="following.url"
                                         ng-src="{{following.url}}"
                                         id="img-profile-small"
                                         class="avatar img-circle img-thumbnail img-responsive"
                                         alt="avatar">
                                    <img ng-if="!following.url"
                                         ng-src="img/staff-profile-blank.jpg"
                                         id="img-profile-small"
                                         class="avatar img-circle img-thumbnail img-responsive"
                                         alt="avatar">
                                    <p>
                                    <h4 class="business-list-title"><a href="#/user/{{following.username}}">{{following.username}}</a></h4>
                                    </p>
                                </div>
                            </div>


                                <div ng-repeat="following in model.followingUser" class="col-md-3">


                                    <div class="text-center">

                                        <img ng-if="!following.url"
                                             ng-src="../../images/blank-img.jpg"
                                             class="img-circle img-responsive"
                                             alt="avatar">

                                        <img ng-if="following.url"
                                             ng-src="{{following.url}}"
                                             class="img-circle img-responsive"
                                             alt="avatar">

                                        <a href="#/user/{{following.username}}">{{following.firstName}} {{following.lastName}}</a>

                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>