<nav class="navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-2 col-sm-4">
            <div class="navbar-brand pull-left ffa-no-left-padding">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>


        <div class="hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand ffa-no-left-padding" href="#">
                    <span><strong>Websites</strong></span>
                </a>
            </div>
            <div class="navbar-brand pull-right wbdv-left-header-right-margin">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        </div>

        <div class="col-xs-10 col-sm-8">

            <div class="navbar-brand pull-right ffa-no-right-margin">
                <a ng-click="model.createWebsite(website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand ffa-no-left-padding" href="#">
                    <span><strong>New Website</strong></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-12">
                        Name
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </div>
                </div>
            </li>
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        {{website.name}}
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div ng-show="websiteForm.$invalid && websiteForm.$submitted" class="alert alert-danger" >
            There are errors in the form. Please correct the errors and submit again.
        </div>
        <form name="websiteForm" novalidate>
        <label for="website-name">Website Name</label>
        <input ng-model="website.name"
               placeholder="Website Name"
               class="form-control"
               name="websiteName" id="website-name" required/>
            <div ng-show="websiteForm.$submitted && websiteForm.websiteName.$invalid" class="error">
                Please enter name of the website
            </div>

        <label for="website-description">Website Description</label>
        <textarea ng-model="website.description"
                  placeholder="Website Description"
                  class="form-control"
                  id="website-description"></textarea>
        <br>
        <button ng-click="model.createWebsite(website)" type="submit"  class="btn btn-primary btn-block">
            Create
        </button>

        </form>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>


