<h1>Header Editor</h1>
<div ng-show="widgetForm.$invalid && widgetForm.$submitted" class="alert alert-danger" >
    There are errors in the form. Please correct the errors and submit again.
</div>

<form name="widgetForm" novalidate>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input ng-model="model.widget.name" id="widgetname" type="text"
               class="form-control" name="widgetname"
               placeholder="Widget Name" required/>
    </div>
    <div ng-show="widgetForm.$submitted && widgetForm.widgetname.$invalid" class="error">
        Please enter name of the widget
    </div>
    <div class="form-group">
        <label for="widgettext">Text</label>
        <input ng-model="model.widget.text" id="widgettext" type="text"
               class="form-control"
               placeholder="Widget Text"/>
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input ng-model="model.widget.size" id="size" type="number" min="1" max="6"
               class="form-control"
               placeholder="Widget Size"/>
    </div>

    <button type="submit" class="btn btn-primary btn-block"
            ng-click="model.updateWidget(model.widget)">Update</button>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>

</form>