<h1>HTML Editor</h1>
<div ng-show="widgetForm.$invalid && widgetForm.$submitted" class="alert alert-danger" >
    There are errors in the form. Please correct the errors and submit again.
</div>

<form name="widgetForm" novalidate>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input ng-model="model.widget.name" id="widgetname" name="widgetname" type="text"
               class="form-control"
               placeholder="Widget Name" required/>
    </div>
    <div ng-show="widgetForm.$submitted && widgetForm.widgetname.$invalid" class="error">
        Please enter name of the widget
    </div>

    <div class="form-group">
        <label for="widgettext">Text</label>
        <div id="widgettext" ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block"
            ng-click="model.updateWidget(model.widget)">Update</button>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>


</form>
