<h1>Image Editor</h1>
<div ng-show="widgetForm.$invalid && widgetForm.$submitted" class="alert alert-danger" >
    There are errors in the form. Please correct the errors and submit again.
</div>


<form name="widgetForm" novalidate action="/api/upload"  method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" name="widgetname" id="name" type="text"
               class="form-control"
               placeholder="Widget Name" required/>
    </div>
    <div ng-show="widgetForm.$submitted && widgetForm.widgetname.$invalid" class="error">
        Please enter name of the widget
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" name="text"id="text" type="text"
               class="form-control"
               placeholder="Widget Text"/>
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model="model.widget.url" id="url" type="url"
               class="form-control"
               placeholder="URL"/>
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widget.width" name="width" id="width" type="text"
               class="form-control"
               placeholder="Width"/>
    </div>

        <label for="fileupload">Upload</label>
        <input  id="fileupload" name="myFile"   type="file" class="form-control"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">
        Search Image
    </a>

    <button type="submit" class="btn btn-primary btn-block"
            ng-click="model.updateWidget(model.widget)">Update</button>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>


</form>


