<h1>TEXT Editor</h1>
<div ng-show="widgetForm.$invalid && widgetForm.$submitted" class="alert alert-danger" >
    There are errors in the form. Please correct the errors and submit again.
</div>

<form name="widgetForm" novalidate>
    Name
    <input name="widgetname" ng-model="model.widget.name" class="form-control" required/>
    <div ng-show="widgetForm.$submitted && widgetForm.widgetname.$invalid" class="error">
        Please enter name of the widget
    </div>
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>
    <br>
    <br>

    <button type="submit" class="btn btn-primary btn-block"
            ng-click="model.updateWidget(model.widget)">Update</button>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>



</form>
