#map {
    height: 400px;
    /*width: 400px;*/
}

#hungry{
    padding-left: 3px;
    font-size: x-large;
    font-family: 'UnifrakturCook', cursive;
}

.black-font{
    color: black !important;
}

.new-font{
    padding-left: 3px;
    font-size: x-large;
    font-family: 'UnifrakturCook', cursive !important;
}

  input.form-control {
    margin-bottom: 5px;
}
body {
    /*overflow: hidden;*/
    margin-top: 60px;
    margin-bottom: 30px;
    overflow-x:hidden;
    background-image: url(../images/bg.jpg);
}
.t-top-margin{
    margin-top: 10px;
    padding-top: 20px;
}


.img-circle{
    width: 180px;
}

.t-bottom-margin{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.t-no-bottom-margin {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.t-no-top-margin {
    margin-top: 0px;
    padding-top: 0px;
}

form {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ffa-left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
}
.ffa-right-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 52px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}
.navbar-default {
    background-color: #428bca;
}
.navbar-text a,.navbar-brand, .navbar-brand a {
    color: white !important;
}

.ffa-add-padding{
    padding: 15px;
}

a:hover{
    text-decoration: none;
}


p{
    padding-bottom: 20px;
    text-align: justify;
}
.t-bottom-padding{
    padding-bottom: 30px;
}


.ng-submitted .ng-invalid, .ng-submitted .invalid{
    border-color: red;
}
.error{
    color: orangered;
    margin-bottom: 5px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    height: 345px;
    margin: auto;
}


.t-category{
    background-image: url(../images/bg.jpg);
    opacity: .6;
    transition: opacity 3500ms;
    transition: color 3000ms;
    color: red;

}


.t-category:hover{
    opacity: 1;
    color: whitesmoke;
}


.t-font{
    font-family: 'UnifrakturCook', cursive ;
    color: antiquewhite;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.t-font-standard{
    font-family: 'Playfair Display', serif;
    color: antiquewhite;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.t-category-image{
    width:300px ;
    height: 250px;
    border: inset;
    border-width: 4px;
}

/*hr {*/
    /*border: 0;*/
    /*height: 1px;*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
/*}*/

.t-header{
    background-image: url(../images/bg2.jpg);
}

.t-title{
    padding: 15px;
    font-family: 'UnifrakturCook', cursive !important;
    color: cornsilk;
    font-size: larger;

}

.t-comment{
    border-bottom: groove;
    border-bottom-color: #999999;
    border-top: groove;
    border-top-color: #999999;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: small;
    background-image:url("../images/bg-3.jpg")
}

.t-span{
    padding-top: 0;
    margin-top: 0;
}

.t-search {
    margin-top: 5px;
    margin-left :1px ;
    margin-right :1px ;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}


.bg-image3{
    background-image: url(../images/bg.jpg);
}

.ts-sidebar-menu{
    /*background-image: url(../images/bg2.jpg);*/
    background-blend-mode: overlay;
}


.image-view{
    width: 100%;
    height: 300px !important;
}


.t-button {
    padding: 10px;
    margin-right: 8px;
    margin-bottom:10px;
}

.t-button:hover {
    color: black;
    opacity:0.6;
    filter:alpha(opacity=90);

}

.carousel img {
    width:100% !important;
    min-width: 100% !important;
    height: auto;
    /*padding-top: 56.25%;*/
}

.t-font{
    color: blanchedalmond;
    font-size: larger;
}

.t-large-size{
    font-size: larger;
}

.t-special{
    color: floralwhite;
}

.t-special:hover{
    opacity: .8;
    color: indianred;
}

.panel-body{
    width: 700px;
    height: 150px;
}


.t-open{
    font-size: larger;
    color: lawngreen;
}



.t-closed{
    font-size: larger;
    color: red;
}


.t-category-head{
    font-size: x-large;
    color: floralwhite;
}

.p-groove {outline-style: groove;}


.bg-grey{
    color: white;
    background-color:gray;
    transition: 2s;
}

.bg-grey:hover{
    color: black;
    background-color: whitesmoke;
   }


.verticalLine {
    border-left: thick solid #ffffff;
}

.t-register{
    color: white;
}

.indent{ padding-left: 1.8em }


.t-border{
    border-right: groove;
    color: white;
}

/*fieldset, label { margin: 0; padding: 0; }*/
/*body{ margin: 20px; }*/
/*h1 { font-size: 1.5em; margin: 10px; }*/

/*!****** Style Star Rating Widget *****!*/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }